<%= form_with(model: post, local: true, html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="post">
  <div>
    <%= form.label :title, "title", style: "display: block" %>
    <%= form.text_field :title, class: "textarea", placeholder: "enter title" %>
  </div>

  <div>
    <%= form.label :image, "upload image" %><br>
    <%= form.file_field :image, class: "custom-input" %>
  </div>

  <div>
    <%= form.label :body, "body", style: "display: block" %>
    <%= form.text_area :body, class: "textarea", placeholder: "enter body" %>
  </div>

  <div>
    <%= form.submit post.new_record? ? "create post" : "update post", class: "button" %>
  </div>
</div>
<% end %>
