<div id="<%= dom_id post %>" style="background-color: <%=post.color || "#fffacd"%>;">
    <p>
      <strong>title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>body:</strong>
      <%= post.body %>
    </p>

    <% if post.image.attached? %>
      <%= image_tag post.image, class: "image" %>
    <% else %>
     <p style="color: red">No image attached</p>
    <% end %>
</div>
