<p style="color: green"><%= notice %></p>

<div class="post">
  <%= render @post %>
</div>

<div>
  <%= link_to "edit this post-it", edit_post_path(@post) %> |
  <%= link_to "back to bulletin", posts_path %>

  <%= button_to "destroy this post-it", @post, method: :delete, class: "button" %>
</div>
